<%
  function lookup(collection, index, accessor) {
    return (p = collection.get(index)) && p.get(accessor);
  }
  function accessIcon(thing) {
    if (thing.isWritable())
      return '<i class="icon-pencil"></i>';
    else if (thing.isReadable())
      return '<i class="icon-lock"></i>';
    else
      return '<i class="icon-ban-circle"></i>';
  }
  function accessClass(thing, base) {
    if (thing.isWritable())
      return base ? base + ' writable' : 'writable';
    else if (thing.isReadable())
      return base ? base + ' readable' : 'readable';
    else
      return base ? base + ' invalid' : 'invalid';
  }
%>
<div class="simple-object-panel">
  <div class="object-summary row-fluid">
    <div class="span2">
      <div class="access-level">
        <%= accessIcon(object) %>
      </div>
      <div class="flag player-flag">
        <span class="<%= !lookup(object.attributez, 'player', 'Value.value') && 'disabled' || '' %>">player</span>
      </div>
      <div class="flag programmer-flag">
        <span class="<%= !lookup(object.values, 'programmer', 'Value.value') && 'disabled' || '' %>">programmer</span>
      </div>
      <div class="flag wizard-flag">
        <span class="<%= !lookup(object.values, 'wizard', 'Value.value') && 'disabled' || '' %>">wizard</span>
      </div>
      <div class="flag-container">
        <span class="<%= !lookup(object.values, 'r', 'Value.value') && 'flag read-flag disabled' || 'flag read-flag' %>">r</span>
        <span class="<%= !lookup(object.values, 'w', 'Value.value') && 'flag write-flag disabled' || 'flag write-flag' %>">w</span>
        <span class="<%= !lookup(object.values, 'f', 'Value.value') && 'flag fertile-flag disabled' || 'flag fertile-flag' %>">f</span>
      </div>
    </div>
    <div class="span10">
      <div class="object-name">
        <h1>
          <% if (object.isNotFound()) { %>
            <em>Not Found</em>
          <% } else if (object.isDenied()) { %>
            <em>Request Denied</em>
          <% } else if (object.failed()) { %>
            <em>Request Failed</em>
          <% } else { %>
            <%= Moo.formatHTML(object.values.get("name").get("Value.value")) %>
          <% } %>
        </h1>
      </div>
      <div class="parents">
        Parents:
        <% var parents = lookup(object.attributez, 'parents', 'Value.value');
           if (parents) {
             _.each(parents, function(value) { %>
               <%= Moo.formatHTML(value) %>
            <% })
        } %>
      </div>
    </div>
  </div>
  <div class="help-and-information row-fluid">
    <div class="span12">
      <div class="alert alert-info">
        <i class="icon-arrow-down icon-large"></i>
        Double-click on an entry below to display the value of the property or property definition, or the verb definition code.
      </div>
    </div>
  </div>
  <div class="object-details row-fluid">
    <div class="span4 values">
      <h2>Properties</h2>
      <table class="table table-condensed">
        <tbody>
          <% _.each(object.values.models, function(value) {
            var icon = accessIcon(value),
                clazz = accessClass(value, 'value');
            if (!value.isDenied()) { %>
              <tr class="<%= clazz %>" data-id="<%= value.id %>">
                <td width="5%"><%= icon %></td>
                <td class="ellipsis"><strong><%= value.get("id") %></strong> <%= Moo.formatHTML(value.get('Value.value'), true) %></td>
              </tr>
            <% } else { %>
              <tr class="<%= clazz %>">
                <td width="5%"><%= icon %></i></td>
                <td><em><%= value.get("id") %></em></td>
              </tr>
            <% }
          }); %>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <h2>Property Definitions</h2>
      <table class="table table-condensed properties">
        <tbody>
          <% _.each(object.properties.models, function(property) {
            var icon = accessIcon(property),
                clazz = accessClass(property, 'property');
            if (!property.isDenied()) { %>
              <tr class="<%= clazz %>" data-id="<%= property.id %>">
                <td rowspan="3" width="5%"><%= icon %></td>
                <td class="name ellipsis"><strong><%= Moo.formatHTML(property.get("Property.name")) %></strong></td>
              </tr>
              <tr class="<%= clazz %>" data-id="<%= property.id %>">
                <td>
                  <span class="owner"><%= Moo.formatHTML(property.get("Property.owner")) %></span>
                  <span class="perms"><%= Moo.formatHTML(property.get("Property.perms")) %></span>
                </td>
              </tr>
              <tr class="<%= clazz %>" data-id="<%= property.id %>">
                <td class="ellipsis"><%= Moo.formatHTML(property.get('Property.value'), true) %></td>
              </tr>
            <% } else { %>
              <tr class="<%= clazz %>">
                <td width="5%"><%= icon %></td>
                <td><em>denied</em></td>
              </tr>
            <% }
          }); %>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <h2>Verb Definitions</h2>
      <table class="table table-condensed verbs">
        <tbody>
          <% _.each(object.verbs.models, function(verb) {
            var icon = accessIcon(verb),
                clazz = accessClass(verb, 'verb');
            if (!verb.isDenied()) { %>
              <tr class="<%= clazz %>" data-id="<%= verb.id %>">
                <td rowspan="3" width="5%"><%= icon %></td>
                <td class="names ellipsis"><strong><%= Moo.formatHTML(verb.get("Verb.names")) %></strong></td>
              </tr>
              <tr class="<%= clazz %>" data-id="<%= verb.id %>">
                <td>
                  <span class="owner"><%= Moo.formatHTML(verb.get("Verb.owner")) %></span>
                  <span class="perms"><%= Moo.formatHTML(verb.get("Verb.perms")) %></span>
                  <span class="dobj"><%= Moo.formatHTML(verb.get("Verb.dobj")) %></span>
                  <span class="prep"><%= Moo.formatHTML(verb.get("Verb.prep")) %></span>
                  <span class="iobj"><%= Moo.formatHTML(verb.get("Verb.iobj")) %></span>
                </td>
              </tr>
              <tr class="<%= clazz %>" data-id="<%= verb.id %>">
                <td class="ellipsis"><%= Moo.formatHTML(verb.get('Verb.code'), true) %></td>
              </tr>
            <% } else { %>
              <tr class="<%= clazz %>">
                <td width="5%"><%= icon %></td>
                <td><em>denied</em></td>
              </tr>
            <% }
          }); %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade hide" style="display: none;">
    <div class="modal-header">
      <h3></h3>
    </div>
    <div class="modal-body">
      <pre class="textarea"></pre>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
</div>
